@import "../../../styles/variable";

.dropdown {
  position: absolute;
  width: 192px;
  height: 50px;
  padding: 15px;
  background-color: $white;
  right: 0;
  top: 70px;
  display: flex;
  cursor: pointer;
  &__image-out {
    display: inline-block;
    width: 20px;
    height: 18px;
    margin-right: 16px;
  }
  &__sign-out {
    display: block;
    width: 73px;
    height: 23px;
    font-size: 20px;
    line-height: 23px;
  }
}

