$primary: #3077c6;
$primary-dark: #10367c;
$secondary: #f5bd41;
$white: #ffffff;
$primary-text: #383838;
$secondary-text: #bfbfbf;
$stroke-color: #F3F3F4;
$gray100: #121212;
$gray200: #1d1e1f;
$gray300: #4d4d4d;
$background-gray: #eaf0f9;
$stroke-color: #F3F3F4;