@import "../../variable";

.homes {
  background-color: $background-gray;
  &__caption{
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    padding-top: 120px;
    color: $primary-text;
  }
  &__section {
    padding: 105px 0 120px 0;
    display: inline-flex;
    justify-content:center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  &__section-col {
    display: flex;
    justify-content:center;
    position: relative;
  }
  &__no-display{
    display: none;
  }
}