

.react-datepicker-ignore-onclickoutside {
  font-size: 19px;
}

.react-datepicker__input-container input {
  margin: 0 10px 0 0;
  font-size: 19px;
  width: 130px;
  cursor: pointer;
  color: #383838;
  &::-webkit-input-placeholder {
    color: #383838;
  }
}
