@import "../../styles/variable";

.title__chosen-hotel {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  padding: 60px 0 60px 0;
  color: $primary-text;
  margin: 0 auto 0 auto;
}

.body__chosen-hotel {
  display: inline-block;
  text-align: left;
  padding-bottom: 60px;
}

.chosen-hotel {
  text-align: center;
}