@import "../../../styles/variable";

.display-none {
  display: none;
}

.header{
  &__input-adults-block{
    flex-basis: 26%;
    position: relative;
    background-color: white;
  }
  &__input {
    padding: 0 25px 0 25px;
    border-radius: 5px;
    width: 100%;
    height: 64px;
    border: none;
    outline: none;
  }
}

